.site-footer .widget-area {
	float: left;
}

.site-info {
	display: inline-block;
}
.site-footer .widget-column.footer-widget-2 {
    float: left;
    
}
.footer-widget-1 button {
	margin-top: 10px;
	margin-bottom:10px;
    width: 100%;
}
.popup {

	right:50%;
	margin-right:-200px;

}
.popup h2 {
font:bold 18px/32px hebrew;
}
.popup a.close {

left:10px;

}
#overlay {
	right:0;

}
*:after {
    content: "\200E‎";
}
